<div style="text-align:center">
  <h1>
    Demonstrating activate events on router outlets
  </h1>
  <p>
    Open console to view the events
  </p>
</div>

<ul>
  <li><a [routerLink]="['lazy']">Lazy loaded component in main outlet</a></li>
  <li><a [routerLink]="[{ outlets: { aux: ['lazy'] } }]">Lazy loaded component in named outlet</a></li>
  <li><a [routerLink]="['']">Clear</a></li>
</ul>

<div class="outlets">
  <div>
    <router-outlet (activate)="mainActivated($event)"></router-outlet>
  </div>
  <div>
    <router-outlet name="aux" (activate)="auxActivated($event)"></router-outlet>
  </div>
</div>
